* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --rose:  hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light_grey: hsl(30, 18%, 87%);
    --wenge_brown: hsl(30, 10%, 34%);
    --dark_charcoal: hsl(24, 5%, 18%);
}

body {
    background-color: var(--eggshell);
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
